#customRange3 {
  width: 90%;
  margin: 0 auto;
}

.rangeText {
  text-align: center;
  display: block;
  padding-top: 30px;
}

.rangeWrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
}

/*yellow color for the app is #e9d758
background grey  color is #f0f0f0
button color is #343434
font: SF UI Display
*/
